
.item{
border:0px solid;
}
.item-radio .radio-icon{
  right: inherit
}
.item-complex .item-content, .item-radio .item-content{
  margin-left:30px;
}
i.radio-icon.disable-pointer-events.icon.ion-checkmark{
margin-top:-5px;
}

.item-content.disable-pointer-events span::before{
  content:" ";
  display:block;
  width:20px;
  height: 20px;
  position: absolute;
  margin-left:-35px;
  z-index:100;
  border:1px solid;
  margin-top:0px;
 
}

.item-content.disable-pointer-events{
   overflow: inherit;
}

.bar-stable .violet,.violet{
  background-color:#902173;
padding-bottom:15px;
height:50px;

}
.popup-buttons{


justify-content:flex-end!important;

}

.popup-buttons .button{
max-width:200px;

}
.button-incomplet{
  background-color:#8c4e6f87!important;
  color:#2c3e50;
  font-weight:bold;
}
.button-assertive{
  background-color:#902173!important;
  font-weight:bold;
}
.bar-stable.violet .button.button-dark.button-clear,.violet .button.button-dark.button-clear{
 color:#fff; 
}
.reservation{
  border:1px solid #902173;
  padding:5px;
  margin-top: 5px;
  background-color: #e0c7d9

}
.reservation .titre.item, .materiel .titre.item{
  color:#902173;
  font-weight:bold;
  }

.reservation .item{
border:0px solid;
 background-color: #e0c7d9;
 padding-bottom:0px;
}

.field{
  height:43px;
}
.fieldMessage{
  height:23px;
margin:0px;
padding:0px;
}

.message{
  height:25px;

  font-size:12px;
}
.field i,.fieldMessage i{
  position: absolute!important;
    bottom: 3px!important;
    padding-left: 5px!important;
}

.field input{
  border:1px solid #902173!important;
}

.ion-ios-checkmark-empty{
  font-size: 32px!important;
   vertical-align: -5px;

}



.accueil{
  background-color:#902173;
}
.accueil .scroll{
  height:100%;
}
.node  input[type="text"]{
  border:1px #888 solid ;
  background-color: #f1f2f1;
  padding:5px;
  display: inline-block;
  height:24px;
  font-size:1em;
}

.node  textarea{
  border:1px #888 solid ;
  background-color: #f1f2f1;
  padding:5px;
  display: inline-block;
  height: 100px;
  font-size:1em;
  width:100%;
}

.node a{
  color:black;
}

.button.small{
  display: inline;
  padding:0px;
}

.item-content .item-thumbnail-left img{
  min-width:40px!important;
  min-height:40px!important;
}

img.logo{
	max-width:100px;
}

.button.ion-navicon{
  color:#fff!important;
}
ion-modal-view .item{
border:0px solid!important;
}

@media (min-width: 680px ) {
  ion-modal-view{
    width: 90%!important; 
    height: 90%!important; 
    top: 5%!important; 
    left: 5%!important; 
    right: 5%!important; 
    bottom: 5%!important;
  }
}

@media (min-width: 799px ) {

  
  .popup-ajoutpanier .popup { 
  width: 90%; 
  }

   .no-open{
    display:none!important;
  }

  .formRow{
    display:flex;
    flex-direction: row ;
  }

  
  ion-side-menus.pane.view{
    position: initial;
  }

  ion-content.overflow-scroll.catalogue{
    margin-right:270px;
  }
 

 
 /* .panier-menu-open {
    padding-right:270px;
  }

  .menu-content-open {
     -webkit-transform: translate3d(270px, 0px, 0px) !important;
     width: ~"calc(100% - 270px)" !important;

  }*/

  .menu-open {
      z-index: 2 !important;
      box-shadow: -1px 0 2px rgba(0,0,0,.2),1px 0 2px rgba(0,0,0,.2);
   }
   
 .tuiles { 
  flex: auto;
  display: inline-block;
  width: 250px;
  height: 360px;
  margin : 25px;
  background-color: #e3cadf; /*rose pâle fond*/
  /*border-color: #bb78ab; /*rose bordures*/
  border-color: #e3cadf; /*rose pâle fond*/
  border-width: 2px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
}
.tuiles a.item-content {
  padding: 0;
  background-color: #e3cadf; /*rose pâle fond*/
  position:absolute;
  width:100%;
}
.tuiles .item-image {
  min-height: 230px;
  background-color: white;
  /*#bb78ab; /* rose bordures*/
  vertical-align: middle;
  line-height:230px;
  margin:0;
  padding:10px;
}
.tuiles img {
  max-width: 230px;
  height: auto;
  max-height: 230px;
}
.tuiles .logo_panier {
  position:absolute;
  margin:auto;
  top: 102px;
  /*bottom:10px;*/
  right:13px;
  width: 40px;
  height: 40px;
  /*z-index: 10000;*/
}
.tuiles .item-text {
  white-space:normal;
  font-weight: normal;
  margin : 10px;
}
.tuiles h2 {
  color: #901d78; /*pourpre titres */
  font-weight: bold;
}
.tuiles p.resume {
  color: black;
}
.tuiles p.cycles {
  text-align: right;
  color: #666; /*gris*/
  vertical-align: baseline;
  position:absolute;
  margin:auto;
  right:10px;
}
   .texteAccueil{
    margin-left:300px
   }

   .pat{
  display:block;
position: absolute;
bottom: -15px;
 z-index:100;
 margin-left:45px;margin-bottom:15px;width:200px;
  }

}

/*.pat{
  display:none;
  }*/

.select{
	padding-bottom: 10px;
}

/* Styles de la fiche descriptive des matériels */
.item.fiche { overflow: auto; }
.item.fiche * { 
    white-space: normal;
    /* non supporté par chrome/safari...
    text-align:justify;
    hyphens:auto;*/
 }

.item.fiche h2, .item.fiche h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 500;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    line-height: 1.2;
}
.item.fiche h2 { font-size: 24px; }
.item.fiche h3 { font-size: 20px; }

.item.fiche p {
  margin: inherit; 
  color : inherit;
  font-size:15px;
  white-space: normal;
}
.item.fiche a { color: #387ef5; }

.item.fiche ul, .item.fiche ol {
  list-style-type: inherit; 
  padding:inherit; 
  margin:inherit;
  font-size:15px;
}
.item.fiche ol { list-style-type: decimal; }

.item.fiche img {
  max-width:100%;
  height:auto;
  margin: 0.5em 0;
}

.popup-ajoutpanier .popup { 
  width: 50%; 
}

.item.description ul{
margin-left: 5px;
}
.item.description p{
  font-size:1em;
  color: #444
  }
.item.description li{
  /*display: list-item;*/
    padding-bottom: 1em;
    list-style-type: square;
    list-style-position: inside;
    color: #444
}
.item.description li {list-style-type: none;}

.item.description li:before {
  content: "- "; 
  
  
}


@media (max-width: 799px ) {
  .tuiles { /*styles standard copiés de item-thumbnail-left*/
    padding-top: 8px;
    padding-left: 106px;
    min-height: 100px; 
  }

  .tuiles > img:first-child,
  .tuiles .item-image,
  .tuiles .item-content > img:first-child,
  .tuiles .item-content .item-image {
    position: absolute;
    top: 0px;
    left: -90px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
  }
  .tuiles .item-complex {
    padding-top: 0;
    padding-left: 0;
  }
  .tuiles a.item-content {
    padding-top: 2px;
  }
  .tuiles .item-image {
      height: 80px;
      vertical-align: middle;
      line-height:80px;
  }
  .tuiles .logo_panier { display: none; }

  .pat {
  display: none;
}

}

/* STYLES POUR LA PAGE D'ACCUEIL */

.pageaccueil {
  background-color:#901d78; /*pourpre titres */
}
.pageaccueil p ,.pageaccueil li{

  color: white; /*pourpre titres */
  font-size: 1.3em;
  line-height:1.3em;
}
.pageaccueil ul{
   list-style-type: inherit; 
  padding:inherit; 
  margin:inherit;
   list-style-position: inside;
   margin-left: 20px;
   margin-bottom:20px;

}

.pageaccueil .laius {
/*  float: right;*/
  min-width: 300px;
} 

.pageaccueil .laius a{
  color:white;
} 
.pageaccueil .laius .logoaccueil  {
  text-align:center;
}  
.pageaccueil .laius .logoaccueil img {
  max-width:80%;
}  
.pageaccueil .laius p{
  text-align:justify;
}  

.glup:before {
  content: url('../img/panier.svg') !important;
 
} 
.loupe:before {
  content: url('../img/loupe.svg') !important;
 margin-top: 6px;
}

.materiel .titre.item{
  font-size:1.5em;
  font-weight:normal;
}
.materiel h1{
  color:#902173;
  font-size:2em;
  font-weight:bold;
}
.materiel h3{
  font-size:1em;
  font-weight:normal;
}

.materiel .item{
  border:0px solid;
}

.materiel .caracteristiques{
  border:1px solid #902173;
  padding:20px;
  height:100%;
  font-size:1.2em;
}
.materiel .caracteristiques .label,.materiel .caracteristiques .contenu{
display: inline-block;
}
.materiel .caracteristiques .label{

font-weight:bold;
}

.materiel .image{
  
  padding:20px;
}

.materiel .caracteristiques h2{
  
  border-bottom:1px solid #902173;
}

.materiel  h2{
  color:#902173;
  font-size:1.5em;
  font-weight:normal;
  }

.materiel .item.description{
padding-bottom:0px;
padding-top:0px;
}

.materiel .description h2{
margin-bottom:20px;

margin-top:20px;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {





  .panier-menu-open {

    padding-right:270px;
  }

  .menu-content-open {
     -webkit-transform: translate3d(270px, 0px, 0px) !important;
     width: ~"calc(100% - 270px)" !important;

  }

   ion-content.catalogue{
    margin-right:270px;
  }


}
