<ion-item  class="item-thumbnail-left item-text-wrap item-thumbnail-left-open" ng-href="#/app/node/{{node.id}}" >
      <img ng-src="{{node.logo|chemin}}" ng-if="node.logo.length>0" />
      <h2>
        <!-- <i class="icon ion-ios-pricetag-outline" title="Ajouter à mes dossiers"></i>
        <i class="icon ion-ios-pricetag" title="Déjà ajouté à mes dossiers"></i> -->
        {{node.title}}
      </h2>
      <p ng-if="node.resume">{{node.resume|limitTo:200}}</p>
      <p ng-if="!node.resume">{{node.body|limitTo:200}}</p>
      <p>{{node.systemes}}</p>
      <p>{{node.prix}}</p>
</ion-item>