<ion-side-menus  enable-menu-with-back-views="true">
  <ion-side-menu-content >
<!--     <ion-nav-bar class="violet">
      
      <ion-nav-buttons side="left">
       
         
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
     
      </ion-nav-buttons>
    </ion-nav-bar> -->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content class="">
 
</ion-side-menus>
