<ion-view view-title="">
	<ion-content>
		<ion-item  class="item-text-wrap">
			<h1>{{titre}}</h1> 
			{{texte_introductif}}

		</ion-item>
		<ion-item>
			<img src="img/img.jpg" width="300px">
		</ion-item>
		<ion-item class="text-align:center">
			<a class="button button-positive" ng-href="#/app/question/1">
				Commencer le test !
			</a>
		</ion-item>
	</ion-content>
</ion-view>