<ion-view view-title="">
  <ion-content>
    <ion-item ng-if="profile">
      Vous êtes {{t}} 
    </ion-item>
    <ion-item ng-if="profile" ng-repeat="score in resultats" class="item-text-wrap">
      <ion-item ng-repeat="portrait in listeprofils" class="item-text-wrap" ng-if="portrait.code==score">
        <i class="icon ion-star"></i> {{portrait.explication}}  
      </ion-item> 
    </ion-item>
    <ion-item ng-if="!profile">
      Vous avez {{points}} pts : {{titreprofil}}
    </ion-item>
    <ion-item ng-if="!profile"  class="item-text-wrap">
     {{description}}
    </ion-item>
    <ion-item class="text-align:center">
      <a class="button button-positive" ng-click="reload()">
        Recommencer le test !
      </a>
    </ion-item>
  </ion-content>
</ion-view>