<ion-view view-title="" >
  <ion-content >
<ion-item class="item-text-wrap">
   <span style="font-weight:bold;font-size: 1.3em">{{page}}/{{nbq}} </span>
   <span style="font-weight:bold;font-size: 1.3em">{{question.texte}}</span>
 </ion-item>
 <ion-list>
  <ion-radio ng-model="rep" ng-value="reponse" ng-repeat="reponse in question.reponses" ng-change="score(reponse)" name="rep" class="item-text-wrap">
    {{reponse.texte}}
  </ion-radio>
  
</ion-list>
<ion-item>
     <button ng-show="next" class="button button-positive"  ng-click="suivant()">
      Suivant
     </button>
</ion-item>
  </ion-content> 
  
</ion-view>